<div id="carouselExampleSlidesOnly" class="carousel slide home-carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "apple.webp", class: "d-block w-100 home-carousel-image", alt: "Apple" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "logi.webp", class: "d-block w-100 home-carousel-image", alt: "Logitech" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "loja.webp", class: "d-block w-100 home-carousel-image", alt: "Loja" %>
    </div>
	    <div class="carousel-item">
      <%= image_tag "monitor.webp", class: "d-block w-100 home-carousel-image", alt: "Loja" %>
    </div>
  </div>
</div>

<div class="container mt-4">
	<div class="row justify-content-center">
		<%= render partial: "shared/card", collection: @products, as: :product %>
	</div>
</div>
